In [1]:
pwd

'C:\\Users\\Omobolanle'

In [2]:
import pandas as pd

In [3]:
employees = pd.read_csv('employee.csv')
hours = pd.read_csv('hours.csv')

In [4]:
hours.head()

   EmployeeID WeekEnding   HoursWorked
0         1.0   8/30/2024         35.0
1         2.0   8/30/2024         40.0
2         3.0   8/30/2024         40.0
3         4.0   8/30/2024         30.0
4         5.0   8/30/2024         35.0

In [16]:
employees.head()

   EmployeeID              Name HourlyRate
0           1        John Oseme      2,300
1           2     Abdulahi Bala        700
2           3     Shekarau Baba      5,500
3           4    Nnamdi Kehinde        700
4           5  Shobowale Rabiah      2,300

In [6]:
payroll_data = pd.merge(hours, employees, on='EmployeeID')

In [7]:
payroll_data['HoursWorked'] = pd.to_numeric(payroll_data['HoursWorked'], errors='coerce')
payroll_data['HourlyRate'] = pd.to_numeric(payroll_data['HourlyRate'], errors='coerce')

In [8]:
payroll_data = payroll_data.dropna(subset=['HoursWorked', 'HourlyRate'])

In [9]:
payroll_data['TotalPay'] = payroll_data['HoursWorked'] * payroll_data['HourlyRate']

In [10]:
print(payroll_data.columns)

Index(['EmployeeID', 'WeekEnding ', 'HoursWorked', 'Name', 'HourlyRate',
       'TotalPay'],
      dtype='object')

In [12]:
weekly_payroll=payroll_data.groupby('WeekEnding ').agg({
    'TotalPay': 'sum',
    'EmployeeID': 'count'
}).rename(columns={'EmployeeID': 'NumberOfEmployees'})

In [13]:
payroll_data.to_csv('detailed_payroll.csv', index=False)

In [14]:
weekly_payroll.to_csv('weekly_payroll_summary.csv')

In [15]:
print("Payroll processing complete. Detailed payroll and weekly summary have been saved.")

Payroll processing complete. Detailed payroll and weekly summary have been saved.